<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container bg-dark text-light">
<form class="text-center d-flex justify-content-center" method="post">
    <div>

    <div class>
        <div class="row border">

            <div class="col-lg-3">
                <div class="form-group" value = "Character Name">
                    <label> Character Name
                        <input type="text" id="name"  name="name" th:field="${dndCharacter.name}" class="form-control">
                    </label>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="form-group">
                    <div class="row">
                        <div class = "col-lg-4">
                            <label> Class
                                <select id="charClass" name="charClass" th:field="${dndCharacter.charClass}" class="form-control">
                                    <option value=""> Choose your Class </option>
                                    <option value="barbarian"> Barbarian </option>
                                    <option value="bard"> Bard </option>
                                    <option value="cleric"> Cleric </option>
                                    <option value="druid"> Druid </option>
                                    <option value="fighter"> Fighter </option>
                                    <option value="monk"> Monk </option>
                                    <option value="paladin"> Paladin </option>
                                    <option value="ranger"> Ranger </option>
                                    <option value="rogue"> Rogue</option>
                                    <option value="sorcerer"> Sorcerer </option>
                                    <option value="warlock"> Warlock </option>
                                    <option value="wizard"> Wizard </option>
                                </select>
                            </label>


                        </div>

                        <div class = "col-lg-4">
                            <label> Background
                                <input type="text" id="background" name="background" th:field="${dndCharacter.background}" class="form-control">
                            </label>
                        </div>

                        <div class = "col-lg-4">
                            <label> Player name <!-- link to account name -->
                                <input type="text" class="form-control">
                            </label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-4">
                            <label> Race
                                <select id="charRace" name="charRace" th:field="${dndCharacter.charRace}" class="form-control">
                                    <option value=""> Choose your Race </option>
                                    <option value="dwarf"> Dwarf </option>
                                    <option value="elf"> Elf </option>
                                    <option value="halfling"> Halfling </option>
                                    <option value="human"> Human </option>
                                    <option value="gnome"> Gnome </option>
                                    <option value="half-orc"> Half-Orc </option>
                                    <option value="dragonborn"> Dragonborn </option>
                                    <option value="tiefling"> Tiefling </option>
                                </select>
                            </label>
                        </div>

                        <div class="col-lg-4">
                            <label> Alignment
                                <select id="alignment" name="alignment" th:field="${dndCharacter.alignment}" class="form-control">
                                    <option value=""> Choose your Alignment </option>
                                    <option value="lawfulGood"> Lawful Good </option>
                                    <option value="neutralGood"> Neutral Good </option>
                                    <option value="chaoticGood"> Chaotic Good </option>
                                    <option value="lawfulNeutral"> Lawful Neutral </option>
                                    <option value="trueNeutral"> True Neutral </option>
                                    <option value="chaoticNeutral"> Chaotic Neutral </option>
                                    <option value="lawfulEvil"> Lawful Evil </option>
                                    <option value="neutralEvil"> Neutral Evil </option>
                                    <option value="chaoticEvil"> Chaotic Evil</option>
                                </select>
                            </label>
                        </div>


                        <div class="col-lg-4">
                            <label> Exp <!-- starts at zero and builds automatically through BaseCharacter method -->
                                <input type="text" name="xp" id="xp" th:field="${dndCharacter.xp}" value="0" class="form-control">
                            </label>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="row"><div class="col"><br></div></div>

        <div class="row ">
            <!--TODO: make this prettier-->
            <div class="col-lg-2 border ">
                <div class="row">
                    Set Ability Point Scores
                    <!--TODO: add dice ability roll functionality-->
                    <button id="abilityRoll">Roll for Ability Scores</button>
                </div>
                <div class="row">
                    <div class="col border">
                        <div class="row border p-5 " >Click to set Strength
                            <input  type ="number"></div>
                        <div class="row border p-5 ">Dexterity<input  type ="number"></div>
                        <div class="row border p-5 ">Constitution<input  type ="number"></div>
                        <div class="row border p-5 ">Intelligence<input  type ="number"></div>
                        <div class="row border p-5 ">Wisdom<input  type ="number"></div>
                        <div class="row border p-5 ">Charisma<input  type ="number"></div>
                        <div class="row border p-5"> Passive Widsom<input type="number"></div>
                        <div class="row">
                            <textarea>Other Proficiencies</textarea>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-2 border"> Main Col2
                <div class="row">
                    <div class="col border">
                        <div class="row border p-3">Inspiration<select></select></div>
                        <div class="row border p-3">Proficiency bonus<select></select></div>
                        <div class="row border p-1">
                            <div>Saving Throws</div><!--Highlight the chosen bonus throws-->
                            <br>
                            <br>
                            <p>Strength</p>
                            <p>Dexterity</p>
                            <p>Constitution</p>
                            <p>Intelligence</p>
                            <p>Wisdom</p>
                            <p>Cahrisma</p>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col border">Skills
                        <p> Acrobatics</p>
                        <p> Animal Handling</p>
                        <p> Arcana</p>
                        <p> Athletics</p>
                        <p> Deception</p>
                        <p> History</p>
                        <p> Insight</p>
                        <p> Intimidation</p>
                        <p> Investigation</p>
                        <p> Medicine</p>
                        <p> Nature</p>
                        <p> Perception</p>
                        <p> Performance</p>
                        <p> Persuasion</p>
                        <p> Religion</p>
                        <p> Sleight of Hand</p>
                        <p> Stealth</p>
                        <p> Survival</p>



                    </div>
                </div>

            </div>

            <div class="col-lg-4 border">
                <div class="row">
                    <div class="col-lg-4 border">Armor class</div>
                    <div class="col-lg-4 border">Initiative</div>
                    <div class="col-lg-4 border">Speed</div>

                </div>

                <div class="row border p-5">
                    <div class="col">Current Hit Points</div>
                    <textarea></textarea>
                </div>

                <div class="row border p-5">
                    <div class="col">Temporary Hit Points</div>
                    <textarea></textarea>
                </div>

                <div class="row">
                    <div class="col border"> Hit Dice
                        <p>

                        </p>
                    </div>

                    <div class="col border"> Death Saves
                        <div class="row">successes</div>
                        <div class="row">failures</div>
                    </div>

                    <div class="row p-5">
                        <div class="col">Attacks and Spellcasting  Adjust area</div>
                        <textarea></textarea>
                    </div>

                    <div class="row p-5">
                        <div class="col">Equipment</div>
                        <textarea></textarea>
                    </div>

                </div>


            </div>


            <div class="col-lg-4 border "> Char B/G
                <div class="col p-5">
                    <div class="row  p-6"> Personality Traits: <textarea>Select or Roll for 2 personality traits</textarea></div>
                    <div class="row  p-6"> Ideals: <textarea>Select or roll for 1 ideal</textarea></div>
                    <div class="row  p-6"> Bonds: <textarea>Select or roll for 1 Bond</textarea></div>
                    <div class="row  p-6"> Flaws: <textarea>Select or roll for 1 Flaw</textarea></div>
                </div>

                <div class="row p-5">
                    <div class="col">Features and Traits</div>
                    <textarea>
                        Afforded by Race:
                    </textarea>
                    <textarea>
                        Afforded by Class:
                    </textarea>
                    <textarea>

                        Other:
                    </textarea>
                </div>


            </div>

            <div class="row"><br></div>
            <div class="row"><br></div>
            <div class="col-lg-2 offset-5">
                <input class="btn btn-success " type="submit" value="Create Character">
            </div>





            </div>



    </div>

    </div>
    </div>

    </div>

    </div>
</form>



</body>
</html>