<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container bg-dark text-light p-5">
<header th:replace="fragments :: header"></header>

<h3>Characters</h3>
<p><a href="/character/create"> Create a new character</a></p>

<div class="row text-center">
    Hey
    <h2 th:text="${dndCharacter.name}">Character Name</h2><!--this is the problem line here-->
</div>

</body>
</html>