<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container text-light bg-dark">

<header th:replace="fragments :: header"></header>


<!--<div th:replace="fragments :: tinydiv">-->
<!--    <p>div1 goes here</p>-->
<!--</div>-->

<!--<div th:replace="fragments :: hugediv">-->
<!--    <p>div2 goes here</p>-->
<!--</div>-->

<!--<div th:replace="fragments :: bigdiv">-->
<!--    <p>div3 goes here</p>-->
<!--</div>-->

<!--<div th:replace="fragments :: meddiv">-->
<!--    <p>div3 goes here</p>-->
<!--</div>-->

</body>
</html>